{% extends 'base.html.twig' %}

{% block title %}Tous les attributs
{% endblock %}

{% block vazimarketStyle %}
	{% include "components/dashboard/css.html.twig" %}
{% endblock %}

{% block vazimarket %}

	{% block body %}

		<div id="layout-wrapper">

			{% include "components/dashboard/page-topbar.html.twig" %}

			{% include "components/dashboard/vertical-menu.html.twig" %}

			<div class="main-content">
				<div
					class="page-content">

					<!-- start page title -->
					<div class="page-title-box">
						<div class="container-fluid">
							<div class="row align-items-center">
								<div class="col-sm-6">
									<div class="page-title">
										<h4>Tous les attributss</h4>
										<ol class="breadcrumb m-0">
											<li class="breadcrumb-item">
												<a href="javascript: void(0);">Morvin</a>
											</li>
											<li class="breadcrumb-item">
												<a href="javascript: void(0);">Marketplace</a>
											</li>
											<li class="breadcrumb-item active">Tous les attributs</li>
										</ol>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="float-end d-none d-sm-block">
										<a href="" class="btn btn-success">Ajouter un attribut</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end page title -->

					<div class="container-fluid">

						<div class="page-content-wrapper">
							<div class="row">
								<div class="col-xl-12">
									<div class="card m-b-30">
										<div class="card-body">
											<h4 class="mt-0 header-title mb-4">Attributs</h4>
											<div class="table-responsive">
												<table class="table table-centered table-nowrap table-hover mb-0">
													<thead>
														<tr>
															<th scope="col">Name</th>
															<th scope="">Identifiant</th>
															<th scope="col">Type</th>
															<th scope="col">Trié par</th>
															<th scope="col">Termes</th>
															<th scope="col">Actions</th>

														</tr>
													</thead>
													<tbody>
														{% for item in [1,2,3,4,5] %}
															<tr>
																<td>
																	<h5 class="font-size-16">
																		Lorem ipsum dolor</h5>
																</td>
																<td>Lorem ipsum dolor</td>
																<td>couleur
																</td>
																<td>Lorem
																</td>
																<td>Lorem ipsum dolor</td>
																<td id="tooltip-container0">
																	<a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
																		<i class="mdi mdi-pencil font-size-18"></i>
																	</a>
																	<a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container0" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
																		<i class="mdi mdi-trash-can font-size-18"></i>
																	</a>
																</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>


							</div>
							<!-- END ROW -->


							<div class="row">
								<div class="col-xl-12">
									<div class="text-center my-3">
										<a href="javascript:void(0);" class="text-primary">
											<i class="mdi mdi-loading mdi-spin font-size-20 align-middle me-2"></i>
											Load more
										</a>
									</div>
								</div>
							</div>
							<!-- end row -->

						</div>


					</div>


					<!-- container-fluid -->
				</div>

				{% include "components/dashboard/footer.html.twig" %}

			</div>
		</div>

		{% include "components/dashboard/rightside.html.twig" %}

		<div class="rightbar-overlay"></div>


	{% endblock %}

	{% include "components/dashboard/js.html.twig" %}

{% endblock %}
