<br>
<div class="header-search hs-expanded">
	<form action="#" class="input-wrapper">
		<div class="select-box">
			<select name="cat" class="cat">
				<option value="all-cat" selected>All Categories</option>
				<option value="travel">Travel</option>
				<option value="shopping">Shopping</option>
				<option value="fashion">Fashion</option>
				<option value="lifestyle">Lifestyle</option>
			</select>
		</div>
		<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search..." required/>
		<button class="btn btn-search" type="submit" title="submit-button">
			<i class="d-icon-search"></i>
		</button>
	</form>
</div>
