<br>
<div class="header-search hs-expanded">
	<form action="#" class="input-wrapper">
		<div class="select-box">
			<select name="cat" class="cat">
				<option value="toute-cat" selected>toutes catégories</option>
				<option value="Voyage">Voyage</option>
				<option value="shopping">Shopping</option>
				<option value="mode">Mode</option>
				<option value="Style de vie">Style de vie</option>
			</select>
		</div>
		<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Recherche..." required/>
		<button class="btn btn-search" type="submit" title="submit-button">
			<i class="d-icon-search"></i>
		</button>
	</form>
</div>
