<div class="mobile-menu-wrapper">
	<div class="mobile-menu-overlay"></div>
	<!-- End of Overlay -->
	<a class="mobile-menu-close" href="#">
		<i class="d-icon-times"></i>
	</a>
	<!-- End of CloseButton -->
	<div class="mobile-menu-container scrollable">
		<form action="#" class="input-wrapper">
			<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Recherchez votre mot-clé..." required/>
			<button class="btn btn-search" type="submit" title="submit-button">
				<i class="d-icon-search"></i>
			</button>
		</form>

		<!-- End of Search Form -->

		<div class="tab tab-nav-simple tab-nav-center tab-nav-boxed">
			<ul class="nav nav-tabs nav-fill" role="tablist">
				<li class="nav-item">
					<a href="#tab-11" class="nav-link active">Menu</a>
				</li>
				<li class="nav-item">
					<a href="#tab-21" class="nav-link">Categories</a>
				</li>
			</ul>
		</div>

		<div class="mobile-menu mmenu-anim tab-content">
			<div class="tab-pane active" id="tab-11">
				<ul>
					<li>
						<a href="/">Accueil</a>
					</li>
					<li>
						<a href="/shop">Categories</a>
					</li>
					<li>
						<a href="/product" class="active">Products</a>
					</li>
					<li>
						<a href="#">Pages</a>
						<ul>
							<li><a href="/about-us">À propos</a></li>
							<li><a href="/contact-us">Nous contacter</a></li>
							<li><a href="/compte">Connexion</a></li>
							<li><a href="/faqs">FAQs</a></li>
						</ul>
					</li>
					<li>
						<a href="blog-classic.html">Blog</a>
					</li>
				</ul>
			</div>
			<div class="tab-pane" id="tab-21">
				<ul>
					<li>
						<a href="/shop">
							<i class="d-icon-t-shirt1"></i>Mode
						</a>
						<ul>
							<li>
								<a href="/shop">Femmes</a>
								<ul>
									<li><a href="/shop">Nouvelles Arrivées</a></li>
									<li><a href="/shop">Meilleures ventes</a></li>
									<li><a href="/shop">Tendance</a></li>
									<li><a href="/shop">Clothing</a></li>
									<li><a href="/shop">Vêtements</a></li>
									<li><a href="/shop">Sacs</a></li>
									<li><a href="/shop">Accessoires</a></li>
									<li><a href="/shop">Bijoux et
																													Montres</a></li>
									<li><a href="/shop">Vente</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Hommes</a>
								<ul>
									<li><a href="/shop">Nouveautés</a></li>
									<li><a href="/shop">Meilleures ventes</a></li>
									<li><a href="/shop">Tendance</a></li>
									<li><a href="/shop">Vêtements</a></li>
									<li><a href="/shop">Chaussures</a></li>
									<li><a href="/shop">Sacs</a></li>
									<li><a href="/shop">Accessoires</a></li>
									<li><a href="/shop">Bijoux et montres</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-home"></i>Maison & Jardin
						</a>
						<ul>
							<li>
								<a href="/shop">Chambre</a>
								<ul>
									<li><a href="/shop">Lits, cadres et
																				Socles</a></li>
									<li><a href="/shop">Commodes</a></li>
									<li><a href="/shop">Tables de chevet</a></li>
									<li><a href="/shop">Lits et
																				Têtes de lit</a></li>
									<li><a href="/shop">Armureries</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Salon</a>
								<ul>
									<li><a href="/shop">Tables basses</a></li>
									<li><a href="/shop">Chaises</a></li>
									<li><a href="/shop">Tableaux</a></li>
									<li><a href="/shop">Futons et canapés
																				Lits</a></li>
									<li><a href="/shop">Armoires &
																				Coffres</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Bureau</a>
								<ul>
									<li><a href="/shop">Chaises de bureau</a></li>
									<li><a href="/shop">Bureaux</a></li>
									<li><a href="/shop">Bibliothèques</a></li>
									<li><a href="/shop">Classeurs</a></li>
									<li><a href="/shop">Salle de repos</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Cuisine et salle à manger</a>
								<ul>
									<li><a href="/shop">Ensembles de salle à manger</a></li>
									<li><a href="/shop">Rangement de cuisine
																				Armoires</a></li>
									<li><a href="/shop">Porte-bagages</a></li>
									<li><a href="/shop">Chaises de salle à manger</a></li>
									<li><a href="/shop">Table à manger</a></li>
									<li><a href="/shop">Tabourets de bar</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-desktop"></i>Électronique
						</a>
						<ul>
							<li>
								<a href="/shop">Portables et ordinateurs</a>
								<ul>
									<li><a href="/shop">Ordinateur
										Ordinateurs</a></li>
									<li><a href="/shop">Moniteurs</a></li>
									<li><a href="/shop">Ordinateurs portables</a></li>
									<li><a href="/shop">Pilotes durs et
										Stockage</a></li>
									<li><a href="/shop">Imprimantes et
										Fournitures</a></li>
									<li><a href="/shop">Ordinateur
										Accessoires</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">TV et vidéo</a>
								<ul>
									<li><a href="/shop">Téléviseurs</a></li>
									<li><a href="/shop">Audio domestique
										Intervenants</a></li>
									<li><a href="/shop">Projecteurs</a></li>
									<li><a href="/shop">Diffusion multimédia
										Appareils</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Appareils photo numériques</a>
								<ul>
									<li><a href="/shop">Reflex numérique
										Caméras</a></li>
									<li><a href="/shop">Sports et action
										Caméras</a></li>
									<li><a href="/shop">Objectifs d'appareil photo</a></li>
									<li><a href="/shop">Imprimante photo</a></li>
									<li><a href="/shop">Mémoire numérique
										Cartes</a></li>
									<li><a href="/shop">Sacs photo,
										Sacs à dos</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Téléphones portables</a>
								<ul>
									<li><a href="/shop">Téléphones de l'opérateur</a></li>
									<li><a href="/shop">Téléphones déverrouillés</a></li>
									<li><a href="/shop">Téléphone et portable
										Cas</a></li>
									<li><a href="/shop">Téléphone portable
										Chargeurs</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-sofa"></i>Meubles
						</a>
						<ul>
							<li>
								<a href="/shop">Meubles</a>
								<ul>
									<li><a href="/shop">Canapés et canapés</a></li>
									<li><a href="/shop">Fauteuils</a></li>
									<li><a href="/shop">Cadres de lit</a></li>
									<li><a href="/shop">Tables d'appoint</a></li>
									<li><a href="/shop">Coiffeuses</a></li>
									<li><a href="/shop">Coffre de
										Tiroirs</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Éclairage</a>
								<ul>
									<li><a href="/shop">Ampoules</a></li>
									<li><a href="/shop">Lampes</a></li>
									<li><a href="/shop">Lumières de plafond</a></li>
									<li><a href="/shop">Appliques murales</a></li>
									<li><a href="/shop">Salle de bain
										Éclairage</a></li>
									<li><a href="/shop">Extérieur
										Éclairage</a></li>
								</ul>
							</li>
							<li>
								<a href="/shop">Jardin et extérieur</a>
								<ul>
									<li><a href="/shop">Jardin
										Meubles</a></li>
									<li><a href="/shop">Tondeuses à gazon</a></li>
									<li><a href="/shop">Pression
										Rondelles</a></li>
									<li><a href="/shop">Tous les jardins
										Outils</a></li>
									<li><a href="/shop">Repas en plein air</a></li>
									<li><a href="/shop">Barbecue &
										Équipement</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-heartbeat"></i>Santé & Beauté
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-gift"></i>Idées de cadeau
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-gamepad1"></i>Jouets et jeux
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-cook"></i>Cuisine
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-mobile"></i>Téléphones intelligents
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-camera2"></i>Appareils photo et photos
						</a>
					</li>
					<li>
						<a href="/shop">
							<i class="d-icon-clock"></i>Accessoires
						</a>
					</li>
					<li>
						<a href="#" class="font-weight-semi-bold text-primary text-uppercase ls-25">
							Afficher toutes les catégories<i class="d-icon-angle-right"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- End of MobileMenu -->
	</div>
</div>
