{% if hide_sticky_menu_bottom is defined and hide_sticky_menu_bottom  == true %}
<div class="sticky-footer sticky-content fix-bottom">
	<a href="/" class="sticky-link btn ">
		<i class="d-icon-jar"></i>
		<span>Boutique</span>
	</a>
	<a href="/" class="sticky-link btn ">
		<i class="d-icon-bag "></i>
		<span>Ajouter au panier</span>
	</a>
	<a href="/cart" class="sticky-link btn btn-primary ">
		<i class="d-icon-cash"></i>
		<span>Acheter</span>
	</a>
</div>
{% else %}

<div class="sticky-footer sticky-content fix-bottom">
	<a href="/" class="sticky-link">
		<i class="d-icon-home"></i>
		<span>Accueil</span>
	</a>
	<a href="/" class="sticky-link">
		<i class="fa fa-envelope "></i>
		<span>Messagerie</span>
	</a>
	<a href="/cart" class="sticky-link">
		<i class="d-icon-bag"></i>
		<span>Panier</span>
	</a>
	<a href="/compte" class="sticky-link">
		<i class="d-icon-user"></i>
		<span>compte</span>
	</a>
</div>

{% endif %}