<div class="vertical-menu">

	<div data-simplebar class="h-100">


		<div class="user-sidebar text-center">
			<div class="dropdown">
				<div class="user-img">
					<img src="{{ asset('dashboard/assets/images/users/avatar-7.jpg') }}" alt="" class="rounded-circle">
					<span class="avatar-online bg-success"></span>
				</div>
				<div class="user-info">
					<h5 class="mt-3 font-size-16 text-white">James Raphaël</h5>
<span class="font-size-13 text-white-50">Administrateur</span>
				</div>
			</div>
		</div>


		<!--- Sidemenu -->
		<div
			id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title">Menu</li>

				<li>
					<a href="/dashboard/createur" class="waves-effect">
						<i class="dripicons-home"></i>
						<span class="badge rounded-pill bg-info float-end">3</span>
						<span>Dashboard</span>
					</a>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="dripicons-cart"></i>
						<span>Vazimarket</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="/dashboard/commandes">Commandes</a>
						</li>
						<li>
							<a href="/dashboard/clients">Clients</a>
						</li>
						<li>
							<a href="/dashboard/createurs">Créateurs</a>
						</li>
						<li>
							<a href="/dashboard/vendeurs">Vendeurs</a>
						</li>
						<li>
							<a href="#">Livraison</a>
						</li>
						<li>
							<a href="#">Pays de couverture</a>
						</li>
						<li>
							<a href="#">Options</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="dripicons-basket"></i>
						<span>Produits</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">
						<li>
							<a href="/dashboard/produits">Tous les Produits  </a>
						</li>
						<li>
							<a href="/dashboard/produit-new">Ajouter un produit</a>
						</li>
						<li>
							<a href="/dashboard/categories">Categories</a>
						</li>
						<li>
							<a href="/dashboard/etiquettes">Etiquettes</a>
						</li>
						<li>
							<a href="/dashboard/attributs">Attributs</a>
						</li>
					</ul>
				</li>


				<li>
					<a href="/dashboard/messagerie" class=" waves-effect">
						<i class="dripicons-message"></i>
						<span>Messagerie</span>
					</a>
				</li>

				<li>
					<a href="/dashboard/paiement-modes" class=" waves-effect">
						<i class="mdi mdi-credit-card-outline"></i>
						<span>Paiement</span>
					</a>
				</li>

				<li>
					<a href="javascript: void(0);" class="has-arrow waves-effect">
						<i class="dripicons-device-desktop"></i>
						<span>Apparence</span>
					</a>
					<ul class="sub-menu" aria-expanded="false">						
						<li>
							<a href="#">Design</a>
						</li>
						<li>
							<a href="#">Contenu</a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
		<!-- Sidebar -->
	</div>
</div>
