<div class="widget widget-collapsible widget-contact-vendor">
	<h3 class="widget-title">Contacter le vendeur</h3>
	<div class="widget-body">
		<input type="text" class="form-control" id="name" name="name" placeholder="votre nom" required="">
		<input type="text" class="form-control" id="address" name="address" placeholder="you@example.com" required="">
		<textarea id="message" cols="30" rows="6" class="form-control" placeholder="Tapez votre message..." required=""></textarea>
		<a href="#" class="btn btn-dark btn-rounded">Envoyer le message</a>
	</div>
</div>
