<div class="tab-pane" id="product-tab-additional">
	<ul class="list-none">
		<li>
			<label>Marques :</label>
			<p>SkillStar, SLS</p>
		</li>
		<li>
			<label>Couleur :</label>
			<p>Bleu, Marron</p>
		</li>
		<li>
			<label>Taille :</label>
			<p>Grand, Moyen, Petit</p>
		</li>
	</ul>
</div>
