<div class="tab-pane " id="product-tab-shipping-returns">
	<p class="mb-0">Nous livrons dans plus de 100 pays à travers le monde. Pour plein
		détails de la
		options de livraison que nous offrons, veuillez consulter notre
		<a class="text-primary" href="#">Informations de livraison
		</a>Nous espérons que vous apprécierez chaque achat, mais si jamais vous devez retourner un
		article vous pouvez le faire dans
		un mois de réception. Pour plus de détails sur la procédure de retour, veuillez consulter notre
		<a class="text-primary" href="#">Renvoie des informations</a>
	</p>
</div>
