{# inline style #}
<style>
@media screen and (max-width:770px) {
	.hide-on-mobile {
		display:none !important;
	}

	.only-product {
	display:none !important;
}
}
</style>


<div class="col-md-6">
	<div class="product-details pt-3">
		<h1 class="product-name">Chaussures de voyage à la mode</h1>
		<div class="product-meta">
			SKU:<span class="product-sku mr-3">12342931</span>
			CATEGORIES:
			<span class="product-brand">Chaussures</span>
		</div>
		<div class="product-price">$216.00 - $224.00</div>
		<div class="ratings-container">
			<div class="ratings-full">
				<span class="ratings" style="width:80%"></span>
				<span class="tooltiptext tooltip-top"></span>
			</div>
			<a href="#product-tab-reviews" class="link-to-tab rating-reviews">( 1
								                                                avis )</a>
		</div>
		<p class="product-short-desc">
			Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus
						                                            metus libero eu augue.
						                                            Morbi purus liberpuro ate vol faucibus adipiscing.</p>
		<div class="product-form product-size">
			<label>Size:</label>
			<div class="product-form-group">
				<div class="product-variations">
					<a class="size" href="#">XL</a>
					<a class="size" href="#">L</a>
					<a class="size" href="#">M</a>
					<a class="size" href="#">S</a>
				</div>
				<a href="#" class="product-variation-clean">Tout nettoyer</a>
			</div>
		</div>
		<div class="product-variation-price">
			<span>$239.00</span>
		</div>

		<hr class="product-divider">

		<div class="product-form product-qty">
			<div class="product-form-group">
				<div class="input-group mr-2">
					<button class="quantity-minus d-icon-minus"></button>
					<input class="quantity form-control" type="number" min="1" max="1000000">
					<button class="quantity-plus d-icon-plus"></button>
				</div>
				<button class="btn-product btn-cart text-normal ls-normal font-weight-semi-bold hide-on-mobile">
					<i class="d-icon-bag"></i>Ajouter au panier</button>
			</div>
		</div>

		<hr class="product-divider mb-3">

		<div class="product-footer">
			<div class="social-links mr-4">
				<a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
				<a href="#" class="social-link social-twitter fab fa-twitter"></a>
				<a href="#" class="social-link social-pinterest fab fa-pinterest-p"></a>
			</div>
			<span class="divider"></span>
			<div class="product-action">
				<a href="#" class="btn-product btn-wishlist mr-6">
					<i class="d-icon-heart"></i>Ajouter à la liste de souhaits</a>
				<span class="divider"></span>
			</div>
		</div>
	</div>
</div>
