<div class="tab-pane " id="product-tab-shipping-returns">
	<p class="mb-0">We deliver to over 100 countries around the world. For full
		                                            details ofthe
		                                            delivery options we offer, please view our
		<a class="text-primary" href="#">Deliveryinformation
		</a>We hope you’ll love everypurchase, but if you ever need to return an
		                                            item you can do so within
		                                            a month ofreceipt. For full details of how to make a return, please view our
		<a class="text-primary" href="#">Returns information</a>
	</p>
</div>
