<div class="widget widget-collapsible widget-vendor-info">
	<h3 class="widget-title">Vendor Info</h3>
	<ul class="widget-body filter-items">
		<li class="store-name">
			<span>Store Name:</span>
			<span class="details">Vendor</span>
		</li>
		<li class="seller-name">
			<span>Vendor:</span>
			<span class="details">John Doe</span>
		</li>
		<li class="store-address">
			<span>Address:</span>
			<span class="details">CA</span>
		</li>
		<li class="clearfix">
			<span class="ratings-container">
				<span class="ratings-full" title="Rated 4.65 out of 5">
					<span class="ratings" style="width:90%"></span>
					<span class="tooltiptext tooltip-top"></span>
				</span>
			</span>
			<span class="details">4.65 rating from 31 reviews</span>
		</li>
	</ul>
</div>
