{% extends 'base.html.twig' %}

{% block title %}Dashboard Createur
{% endblock %}

{% block vazimarketStyle %}
	{% include "components/dashboard/css.html.twig" %}
{% endblock %}

{% block vazimarket %}

	{% block body %}

		<div id="layout-wrapper">

			{% include "components/dashboard/page-topbar.html.twig" %}

			{% include "components/dashboard/vertical-menu.html.twig" %}

			<div class="main-content">
				<div class="page-content">

					{% include "components/dashboard/page-title-box.html.twig" %}

					<div class="container-fluid">
						{% include "components/dashboard/page-content-wrapper.html.twig" %}
					</div>
				</div>

				{% include "components/dashboard/footer.html.twig" %}

			</div>
		</div>

		{% include "components/dashboard/rightside.html.twig" %}

		<div class="rightbar-overlay"></div>


	{% endblock %}

	{% include "components/dashboard/js.html.twig" %}

{% endblock %}
